body {
  background: #f4f4f4;
  font: 10px sans-serif;
}

.chart-time-axis .domain {
  display: none;
}

.chart-time-axis .tick line {
  stroke: #d8d8d8;
}

.chart-time-axis .tick text {
  fill: #b1b1b1;
}

.chart {
  overflow: hidden;
  position: relative;
}

.chart-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.chart-dot {
  fill: white;
  stroke: #f4f4f4;
  stroke-width: 1.5px;
}

.chart-xhair {
  background: #ff8300;
  /* This should not interact with mouse */
  pointer-events: none;
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
}

.chart-tooltip {
  background: #fff;
  bottom: 70px;
  border-top: 3px solid #ff8300;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  height: 80px;
  /* width and margin are set by JS dynamically */
  position: absolute;
  /* Needed to get around hw accel bug in Chrome */
  z-index: 9;
}

.chart-readout--legend {
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

.chart-scrubber {
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 40px;
  position: absolute;
  width: 100%;
  bottom: 0;
  /* Needed to get around hw accel bug in Chrome */
  z-index: 10;
}

.chart-progress {
  background-color: #ddd;
  padding-right: 4px;
  width: 0;
  height: 40px;
}

.chart-threshold {
  bottom: 0;
  cursor: -webkit-grab;
  cursor: grab;
  position: absolute;
  height: 56px;
  width: 10px;
}
.chart-threshold--dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.chart-threshold--cap {
  background: #ff8300;
  border-radius: 100%;
  height: 10px;
  width: 10px;
}

.chart-threshold--line {
  background: #ff8300;
  margin-left: 4px;
  height: 46px;
  width: 2px;
}