body {
  font: 10px sans-serif;
}

.chart {
  position: relative;
}

.chart-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.chart-dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.chart-xhair {
  background: #ff8300;
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
}