body {
  background: #f4f4f4;
  font: 10px sans-serif;
}

.chart {
  position: relative;
}

.chart-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.chart-dot {
  fill: white;
  stroke: #f4f4f4;
  stroke-width: 1.5px;
}

.chart-xhair {
  background: #ff8300;
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
}

.chart-tooltip {
  background: #fff;
  bottom: 0;
  border-top: 3px solid #ff8300;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  height: 80px;
  /* width and margin are set by JS dynamically */
  position: absolute;
}